* 
{
    font-family: 'Roboto', sans-serif;
}
html 
{
    overflow: hidden;
}


h1 
{
    font-size: xx-large !important;
    text-align: center;
    color: #dfdede;
}

body 
{
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.75) 0%, rgba(241, 15, 15, 0) 100%), #14C8AF;
    align-items: center;
}

.container
{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main
{
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.3);
    
}

.main > input, .main > button 
{
    width: 40%;
    padding: 16px;
    border-radius: 50px;
    font-size: medium;
    border: none;
    text-align: center;
    margin: 10px;
    min-width: 500px;
}


.main > * 
{
    text-align: center;
    width: 100%;
    padding: 16px;
}

button 
{
    font-weight: 600;
    font-size: large;
    width: fit-content !important;
    padding: 16px 32px !important;
    min-width: 100px !important;
    /* border-radius: 20px !important; */
}