* 
{
    font-family: 'Roboto', sans-serif;
}
html 
{
    overflow: hidden;
}


body 
{
    background-color: black;
}

.topbar
{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: nowrap;
    margin-right: 20px;
}

.topbar > button 
{
    height: 40%;
    padding: 16px;
    font-size: medium;
    border: none;
    text-align: left;
    justify-content: space-evenly;
    margin-right: 20px;
}

.profile
{
    position: absolute;
    align-self: flex-end;
    top: 5px;
    right: 0px;
}

button 
{
    font-weight: 600;
    font-size: large;
    height: fit-content !important;
    padding: 16px 32px !important;
    /* border-radius: 20px !important; */
}

.Main
{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main > input
{
    width: 20vw;
    padding: 16px;
    border-radius: 50px;
    font-size: medium;
    border: none;
}

.main > button
{
    width: fit-content;
    padding: 16px;
    border-radius: 50px;
    font-size: medium;
    border: none;
}